<mat-card>
<div class="mat-layout">
        <div class="mat-card-title mat-color-primary mat-shadow-12dp" >Sign In</div>
        <mat-card-content>
                <form class="form-login" method="post" name="login" novalidate>
                        <div class="input-field col s6">
                            <mat-form-field class="example-full-width">
                              <span matPrefix></span>
                              <input type="email" matInput placeholder="User Name">
                              <mat-icon matSuffix>person</mat-icon>
                            </mat-form-field>
                        </div> 
                        <div class="input-field col s6">
                                <mat-form-field class="example-full-width">
                                  <span matPrefix></span>
                                  <input ng-model="uname" type="password" matInput placeholder="Password" required>
                                  <mat-icon matSuffix>https</mat-icon>
                                </mat-form-field>
                               </div>
                               <div class="mat-card-actions ">
                                    <button mat-button>Forgot password?</button>
                                    <button  mat-raised-button type="submit">LOGIN</button>
                                     </div>


                 </form>




        </mat-card-content>

    </div>


</mat-card>
